.top {
  display: flex;
  position: relative;
  top: 0;
}

/* Header */

.header-to-main {
  position: fixed;
  font-family: Trap-Black;
  background-color: transparent;
  border: none;
  left: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
}

.image-container {
  width: 4vw; 
  height: 3.9vw; 
  background-image: url('/imgs/back-arrow.png'); 
  background-size: contain; 
}

.image-container:hover {
  background-image: url('/imgs/bl-back-arrow.png'); 
}
/* Back to Main */

/* Divider */

.divider-top {
  display: flex;
  position: relative;
  border: 1px solid;
  top: 6.5vw;
  width: 1710px;
  left: -10px;
  margin-bottom: 20px;
  z-index: 1;
}

/* Title */

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8vw;
  left: 6.9vw;
  width: 87.9%;
}

.title-container {
  /*background-color: lightblue;*/
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 1vw;
  padding-bottom: 20px;
  justify-content: space-between;
  z-index: 2;
}

.title {
  font-family: Shrimp;
  font-size: 3.54vw;
}

.subtitle-container {
  /*background-color: lightpink;*/
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 40%;
}

.subtitle {
  font-family: SilkaMono;
  font-size: 1.062vw;
  border: 0.06vw solid;
  padding: 2% 4%;
  border-radius: 30vw;
  margin-left: 2%;
}

/* IMG */

.main-container {
  /*background-color: aquamarine;*/
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}


.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 90px;
}

.container-vid video{
  display: flex;
  width: 96%;
  margin: 0 auto;
  margin-top: 2%;
}

.img {
  width: 49%;
}

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 8%;
}

.st3 {
  width: 40%;  
}

.star {
  width: 10%;
}

.star2 {
  width: 10%;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 80%;
}

.text {
  font-family: Trap-Regular;
  font-size: 1.04vw;
  line-height: 2.2vw;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 93%;
}

/* Process */

.process-title {
  font-family: Shrimp; 
  font-size: 3.54vw;
  margin-bottom: 7%;
}

.process-2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 6%;
}

.process-img2 {
  width: 40%;
}

.process-img3 {
  width: 40%;
}

.dot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SilkaMono;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dots {
  position: relative;
  justify-content: center;
}

.back-to-top {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.back-to-top-button {
  font-family: SilkaMono;
  font-size: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-to-top-button:hover {
  color: #ab58d9;
}


@media (max-width: 800px) {

  .image-container{
    width: 8vw;
    height: 7.9vw;
  }

  .divider-top {
    top: 13vw;
  }

  .box {
    top: 14vw;
    left: 5.5vw;
  }

  .title {
    font-size: 6vw;
  }

  .title-container {
    flex-direction: column;
    align-items: center;
  }

  .subtitle-container {
    width: 90%;
    margin-top: 5%;
    justify-content: center;
  }

  .subtitle {
    font-size: 2vw;
    margin-left: 3%;
    margin-right: 3%;
  }

  .main-container {
    margin-top: 5%;
    margin-bottom: 0%;
    flex-direction: column;
    align-items: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
    margin-bottom: 10%;
  }

  .container-vid video {
    margin-top: -8%;
  }

 .container3 {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .left-text-container {
    width: 100%;
  }

  .star {
    margin-top: 10%;
  }

  .text {
    font-size: 2.46vw;
    line-height: 5vw;
    text-align: center;
    width: 95%;
    margin-left: 2%;
  }

  .st3 {
    width: 90%;
    margin-left: 0;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .process-title {
    font-size: 7vw;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .process-2 {
    margin-bottom: 3%;
    flex-direction: column;
    align-items: center;
  }

  .process-img2 {
    width: 70%;
    margin-bottom: 10%;
  }

  .process-img3 {
    width: 70%;
    margin-bottom: 10%;
  }

}